include LICENSE
include README.md
include CHANGELOG.md
include MATLAB_MAPPING.md

recursive-include ndi_common *.json *.txt *.tsv *.tsv.gz *.obo *.md
recursive-include ndi_common/example_binaries *
recursive-include ndi_common/example_datasets *
recursive-include ndi_common/daq_systems *
